---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Alumnos from "../components/alumnos.astro";
---

<Layout title="Calculadora de notas para estudiantes">
    <Navbar />
    <section class="p-4 mt-20 container mx-auto">
        <Alumnos />
    </section>
</Layout>
<script src="src/public/js/navbar.js"></script>
