---
//import Layout from "../layouts/Layout.astro";
import LayoutAlumno from "../layouts/LayoutAlumno.astro";
import Navbar from "../components/Navbar.astro";
import Alumnos from "../components/alumnos.astro";
import Footer from "@/components/footer.astro";
---

<LayoutAlumno title="Calcula mi promedio">
    <Navbar slot="header" />
    <section class="p-4 mt-20 container mx-auto">
        <Alumnos />
    </section>
    <Footer slot="footer" />
</LayoutAlumno>
<script src="/js/navbar.js" is:inline></script>
