---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Docente from "../components/docentes.astro";
import Footer from "@/components/footer.astro";
---

<Layout title="Escala de Notas">
    <Navbar />
    <section class="p-4 mt-20 container mx-auto">
        <Docente />
    </section>
</Layout>
<script src="/js/navbar.js" is:inline></script>
