---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Docente from "../components/docentes.astro";
---

<Layout title="Calculadora de notas">
    <Navbar />
    <section class="p-4 mt-20 container mx-auto">
        <Docente />
    </section>
</Layout>
<script src="src/public/js/navbar.js"></script>
