---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Docente from "../components/docentes.astro";
import Footer from "@/components/footer.astro";
---

<Layout
  title="Llogaritës i Shkallës së Notave — Mjet Falas për Mësues | ScaleGrades"
  canonical="https://scalegrades.com/llogarites-mesues"
>
    <Navbar slot="header" />
    <section class="p-4 container mx-auto" style="margin-top: 72px;">
        <Docente />
    </section>
    <Footer slot="footer" />
</Layout>
