<style>
  nav {
    background-color: #1e212a;
  }
  .custom-select {
    width: 90px;
    position: relative;
  }

  .selected-flag {
    padding: 5px;
    width: 48px;
    cursor: pointer;
  }

  .options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 3px;
    z-index: 1;
    background: #212735;
    border-radius: 10px;
    width: 55px;
  }

  .option {
    padding: 4px;
    cursor: pointer;
  }

  .option:hover {
    border-radius: 10px;
    background-color: #333b4e;
  }
</style>
<nav class="px-4 fixed top-0 w-full z-10 shadow-xl">
  <div class="max-w-6xl mx-auto p-2 sm:p-0">
    <div class="flex justify-center p-2 sm:p-4">
      <a
        href="https://www.instagram.com/revive.latam/" target="_blank"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-left font-semibold hover:text-yellow-500 hidden md:inline-block"
        >Instagram</a
      >
      <a
        href="#"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-left font-semibold hover:text-yellow-500 md:hidden"
        ><i class="fab fa-instagram"></i></a
      >
      <a
        href="/"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-center font-semibold hover:text-yellow-500 md:inline-block"
        >Docente</a
      >
      <div class="py-1 px-1 custom-select md:inline-block" id="customSelect">
        <div class="selected-flag">
          <img
            src="/img/chile.svg"
            alt="Selected Country"
            id="selectedFlagImage"
          />
        </div>
        <div class="options-container" id="optionsContainer">
          <div class="option" data-value="estados_unidos">
            <img src="/img/estados-unidos.svg" alt="Estados Unidos" />
          </div>
          <div class="option" data-value="chile">
            <img src="/img/chile.svg" alt="chile" />
          </div>
          <div class="option" data-value="argentina">
            <img src="/img/argentina.svg" alt="Argentina" />
          </div>
          <div class="option" data-value="colombia">
            <img src="/img/colombia.svg" alt="Colombia" />
          </div>
          <div class="option" data-value="peru">
            <img src="/img/peru.svg" alt="Peru" />
          </div>
          <div class="option" data-value="venezuela">
            <img src="/img/venezuela.svg" alt="Venezuela" />
          </div>
          <div class="option" data-value="espana">
            <img src="/img/espana.svg" alt="Espana" />
          </div>
        </div>
      </div>
      <a
        href="/alumno"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-center font-semibold hover:text-yellow-500 md:inline-block"
        >Alumn@s</a
      >
      <a
      href="https://www.facebook.com/revive.ideas" target="_blank"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-right font-semibold hover:text-yellow-500 hidden md:inline-block"
        >Facebook</a
      >
      <a
        href="#"
        class="py-1 px-1 text-yellow-600 w-1/2 content-center transition ease-out duration-500 text-right font-semibold hover:text-yellow-500 md:hidden"
        ><i class="fab fa-facebook"></i></a
      >
    </div>
  </div>
</nav>
<!-- END NavBar -->
